* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  background-color: rgba(0, 0, 25);
}
header {
  background-color: azure;
}

button {
  padding: 8px;
  outline: none;
  border: 1px solid lightgoldenrodyellow;
  cursor: pointer;
  background-color: antiquewhite;
  border-radius: 5px;
}

button:hover {
  background-color: white;
}
.container {
  width: 95%;
  margin: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  padding: 20px 0px;
  background-color: white;
}

.nav button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.create-box {
  width: 380px;
  margin: auto;
  padding: 20px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: antiquewhite;
  box-shadow: 0 2px 4px 0 black;
}

.create-box textarea {
  width: 100%;
  border-radius: 5px;
  font-family: inherit;
  border: 1px solid gray;
}

.create-box button {
  width: fit-content;
}

#flashcards {
  display: flex;
  margin: auto;
  justify-content: center;
  width: 100%;
  align-items: flex-start;
  flex-wrap: wrap;
}

.flashcard {
  width: 370px;
  height: 200px;
  border-radius: 10px;
  word-wrap: break-word;
  margin: 10px;
  background: linear-gradient(to bottom right, teal, pink);
  box-shadow: 0 2px 4px 0 white;
}
